.la-foto {
    height: 300px;
    width: 250px;
}


header.masthead {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: azure;
}

.la-foto {
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

nav {
    margin: auto 0;
}

.ab-me,
.exp
{
    padding-top: 30px;
}

.linea-gorda {
    padding: 0;
    border: none;
    border-top: solid 2px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

h1, 
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.h2{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.proj, .skills {
    background-color: azure;
    padding-top: 30px;
    padding-bottom: 50px;
}

.pro-itm {
    z-index: 2;
}

.img-pro {
    border-radius: 20%;
    height: 150px;
    width: 150px;
    padding-left: 40px;
}

.exp-item .image-link .caption .caption-content {
    font-size: 20px;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #E1D8D3;
    z-index: 4;
}

.exp-item .image-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
    margin: 10px 2px;
}

.pro-itm {
    padding-right: 100px;
    padding-left: 100px;
}

.ro-pro {
    padding-top: 40px;
}

h3 {
    font-size: 25px;
}

masthead {
    margin: auto 0;
    background-color: aquamarine;
    margin-top: 0;
}

.skill-img{
    max-width: 150px;
    max-height: 150px;
    vertical-align: middle;
}

.est-java{
   text-align: center;
}

.est-js{
  
    text-align: center;

}

.est-py{
    
   text-align: center;
    
}

.skills-itm{
    text-align: center;
}
.carr-img{
   width: auto;
  height: 225px;
  max-height: 225px;
}

.slider{
height: 400px;
background-size: cover;
    
}

.img1{
    background: url("/img/futbol.jpg");
}

.img2{
    background: url("/img/pp.jpg")
}

.img3{
    background: url("/img/banner.jpg");
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}