.la-foto {
    height: 300px;
    width: 250px;
}


header.masthead {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: azure;
}

.la-foto {
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

nav {
    margin: auto 0;
}

.ab-me,
.exp
{
    padding-top: 30px;
}

.linea-gorda {
    padding: 0;
    border: none;
    border-top: solid 2px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.proj, .skills {
    background-color: azure;
    padding-top: 30px;
    padding-bottom: 50px;
}

.pro-itm {
    z-index: 2;
}

.img-pro {
    border-radius: 20%;
    height: 150px;
    width: 150px;
    padding-left: 40px;
}

.exp-item .image-link .caption .caption-content {
    font-size: 20px;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #E1D8D3;
    z-index: 4;
}

.exp-item .image-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
    margin: 10px 2px;
}

.pro-itm {
    padding-right: 100px;
    padding-left: 100px;
}

.ro-pro {
    padding-top: 40px;
}

h3 {
    font-size: 25px;
}

masthead {
    margin: auto 0;
    background-color: aquamarine;
    margin-top: 0;
}

.skill-img{
    max-width: 150px;
    max-height: 150px;
    vertical-align: middle;
}

.est-java{
   text-align: center;
}

.est-js{
  
    text-align: center;

}

.est-py{
    
   text-align: center;
    
}

.skills-itm{
    text-align: center;
}
.carr-img{
   width: auto;
  height: 225px;
  max-height: 225px;
}

.slider{
height: 400px;
background-size: cover;
    
}

.img1{
    background: url("/img/futbol.jpg");
}

.img2{
    background: url("/img/pp.jpg")
}

.img3{
    background: url("/img/banner.jpg");
}